 <!-- /Navigation-->
 <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="home">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
      </ol>
      
		<!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col md-6 text-nowrap">
              <i class="fa fa-table"></i> Categories Table
            </div>
            <div class="col-md-6 text-nowrap">
             
            </div>
          </div>
         
         
        </div>
      

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input class="form-control search-top" type="text" id="search" placeholder="Search for...">
                <span class="input-group-btn">
              <button class="btn btn-primary" onclick="search()" type="button">
                <i class="fa fa-search"></i>
              </button>
               </span>
            </div>
            </div>
          </div>
       
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <td><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Function</strong></td>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <td><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Function</strong></td>
                </tr>
              </tfoot>
              <tbody>
                <%-str%>
              </tbody>
            </table>
          </div>
          <nav aria-label="...">
            <ul class="pagination pagination-sm add_bottom_30">
               
                <% if (totalPage > 0) { %>
                    <ul class="pagination text-center">
                        <% if (page == 1) { %>
                            <li class="page-item disabled ">
                                <a class="page-link" href="" tabindex="-1">First</a>
                                </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link"  href="viewCate/1" tabindex="-1">First</a>
                                </li>
                        <% } %>
                        <% var i = (Number(page) > 5 ? Number(page) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="page-item disabled ">
                                <a>...</a>
                                </li>
                        <% } %>
                        <% for (; i <= (Number(page) + 4) && i <= totalPage; i++) { %>
                            <% if (i == page) { %>
                                <li class="page-item active">
                                    <a class="page-link" href="viewCate/<%=i%>">
                                        <%=i%>
                                    </a>
                                </li>
                            <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="viewCate/<%=i%>">
                                        <%=i%>
                                    </a>
                                </li>
                            <% } %>
                            <% if (i == Number(page) + 4 && i < totalPage) { %>
                                <li class="page-item disabled">
                                    <a>...</a>
                                    </li>
                            <% } %>
                        <% } %>
                        <% if (page == totalPage) { %>
                            <li class="page-item disabled">
                                <a class="page-link"  href="" tabindex="-1">last</a>
                                </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link"  href="viewCate/<%=totalPage%>" tabindex="-1">last</a>
                                </li>
                        <% } %>
                    </ul>
                <% } %>
                   
            </ul>
        </nav>
        </div>
     
      </div>
	  <!-- /tables-->
	  </div>
	  <!-- /container-fluid-->
   	</div>
     <script>
      function search() {
          // khai báo
          var search, flag = 1,
              err = '';
  
          // lấy giá trị
          search = $('#search').val();
  
          // kiểm tra
          if (search == '') {
              flag = 0;
              err = 'Please input to search';
              alert(err)
          }
  
          if (flag == 1) {
              // gửi ajax
              $.ajax({
                  url: 'category/search',
                  type: 'POST',
                  data: {
                      'search': search
                  },
                  success: function(result) {
                      $('tbody').html(result.data);
                  }
              });
              return false;
          } else {
              alert(err);
          }
      }
  </script>