<main>
    <section class="hero_single version_3">
        <div class="wrapper">
            <div class="container">
                <div class="main_search">
                    <h3>Book Unique Experiences</h3>
                    <p>Expolore top rated tours, hotels and restaurants around the world!</p>
                    <form>
                        <div class="custom-search-input-2">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Where..." id="autocomplete">
                                <i class="icon_pin_alt"></i>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="dates" placeholder="When..">
                                <i class="icon_calendar"></i>
                            </div>

                            <div class="panel-dropdown">
                                <a href="#">Guests <span class="qtyTotal">1</span></a>
                                <div class="panel-dropdown-content">
                                    <!-- Quantity Buttons -->
                                    <div class="qtyButtons">
                                        <label>Adults</label>
                                        <input type="text" name="qtyInput" value="1">
                                    </div>
                                    <div class="qtyButtons">
                                        <label>Childrens</label>
                                        <input type="text" name="qtyInput" value="0">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <input type="submit" class="btn_search" value="Search">
                            </div>
                        </div>
                        <!-- /row -->
                    </form>
                </div>
                <!-- /main_search -->
            </div>
        </div>
    </section>
    <!-- /hero_single -->

    <div class="container container-custom margin_80_0">
        <div class="main_title_2">
            <span><em></em></span>
            <h2> News Places for Stay </h2>

        </div>
        <div id="reccomended" class="owl-carousel owl-theme">
            <%-prop%>
          
        </div>
        <!-- /carousel -->
        <p class="btn_home_align "><a href="property" class="btn_1 rounded ">View all Properties</a></p>
        <hr class="large ">
    </div>
    <!-- /container -->

    <div class="container container-custom margin_30_95 ">
        <section class="add_bottom_45 ">
            <div class="main_title_3 ">
                <span><em></em></span>
                <h2>Unique Places</h2>

            </div>
            <div class="row ">
                <%unique.forEach(e =>{ %>
                    <div class="col-xl-3 col-lg-6 col-md-6 ">
                        <a href="details" class="grid_item ">
                            <figure>
                                <div class="score"><strong>8.9</strong></div>
                                <img src="/img/<%=e.image[0]%>" class="img-fluid " alt=" ">
                                <div class="info ">
                                    <div class="cat_star "><i class="icon_star "></i><i class="icon_star "></i><i class="icon_star "></i><i class="icon_star "></i></div>
                                    <h3><%=e.title %></h3>
                                </div>
                            </figure>
                        </a>
                    </div>
               <% })%>
            </div>
            <!-- /row -->
            <a href="unique"><strong>View all (157) <i class="arrow_carrot-right "></i></strong></a>
        </section>




    </div>
    <!-- /container -->
    <div class="container container-custom margin_30_95 ">
        <section class="add_bottom_45 ">
            <div class="main_title_3 ">
                <span><em></em></span>
                <h2>Popular Hotels</h2>

            </div>
            <div class="row ">
                <%hotel.forEach(e =>{ %>
                    <div class="col-xl-3 col-lg-6 col-md-6 ">
                        <a href="details" class="grid_item ">
                            <figure>
                                <div class="score"><strong>8.9</strong></div>
                                <img src="/img/<%=e.image[0]%>" class="img-fluid " alt=" ">
                                <div class="info ">
                                    <div class="cat_star "><i class="icon_star "></i><i class="icon_star "></i><i class="icon_star "></i><i class="icon_star "></i></div>
                                    <h3><%=e.title %></h3>
                                </div>
                            </figure>
                        </a>
                    </div>
               <% })%>
            </div>
            <!-- /row -->
            <a href="hotel"><strong>View all (157) <i class="arrow_carrot-right "></i></strong></a>
        </section>




    </div>
    <!-- /container -->

    <div class="container container-custom margin_30_95 ">
        <section class="add_bottom_45 ">
            <div class="main_title_3 ">
                <span><em></em></span>
                <h2>Popular Houses</h2>

            </div>
            <div class="row ">
                <%house.forEach(e =>{ %>
                    <div class="col-xl-3 col-lg-6 col-md-6 ">
                        <a href="details" class="grid_item ">
                            <figure>
                                <div class="score"><strong>8.9</strong></div>
                                <img src="/img/<%=e.image[0]%>" class="img-fluid " alt=" ">
                                <div class="info ">
                                    <div class="cat_star "><i class="icon_star "></i><i class="icon_star "></i><i class="icon_star "></i><i class="icon_star "></i></div>
                                    <h3><%=e.title %></h3>
                                </div>
                            </figure>
                        </a>
                    </div>
               <% })%>
            </div>
            <!-- /row -->
            <a href="house"><strong>View all (157) <i class="arrow_carrot-right "></i></strong></a>
        </section>




    </div>
    <!-- /container -->
    <!-- /container -->

    <div class="container container-custom margin_30_95 ">
        <section class="add_bottom_45 ">
            <div class="main_title_3 ">
                <span><em></em></span>
                <h2>Popular Flats</h2>

            </div>
            <div class="row ">
                <%flat.forEach(e =>{ %>
                    <div class="col-xl-3 col-lg-6 col-md-6 ">
                        <a href="details" class="grid_item ">
                            <figure>
                                <div class="score"><strong>8.9</strong></div>
                                <img src="/img/<%=e.image[0]%>" class="img-fluid " alt=" ">
                                <div class="info ">
                                    <div class="cat_star "><i class="icon_star "></i><i class="icon_star "></i><i class="icon_star "></i><i class="icon_star "></i></div>
                                    <h3><%=e.title %></h3>
                                </div>
                            </figure>
                        </a>
                    </div>
               <% })%>
            </div>
            <!-- /row -->
            <a href="flat"><strong>View all (157) <i class="arrow_carrot-right "></i></strong></a>
        </section>




    </div>
    <!-- /container -->

    <div class="bg_color_1 ">
        <div class="container margin_80_55 ">
            <div class="main_title_2 ">
                <span><em></em></span>
                <h3>News and Events</h3>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            </div>
            <div class="row ">
                <div class="col-lg-6 ">
                    <a class="box_news " href="event-post">
                        <figure><img src="img/news_home_1.jpg " alt=" ">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Mark Twain</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Pri oportere scribentur eu</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6 ">
                    <a class="box_news " href="event-post">
                        <figure><img src="img/news_home_2.jpg " alt=" ">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Jhon Doe</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Duo eius postea suscipit ad</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6 ">
                    <a class="box_news " href="event-post">
                        <figure><img src="img/news_home_3.jpg " alt=" ">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Luca Robinson</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Elitr mandamus cu has</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6 ">
                    <a class="box_news " href="event-post">
                        <figure><img src="img/news_home_4.jpg " alt=" ">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Paula Rodrigez</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Id est adhuc ignota delenit</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
            </div>
            <!-- /row -->
            <p class="btn_home_align "><a href="event " class="btn_1 rounded ">View all news</a></p>
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->

</main>