<main>
    <section class="hero_in hotels">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Best Unique Stay</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->

    <div class="filters_listing sticky_horizontal">
        <div class="container">
            <ul class="clearfix">
                <li>
                    <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /filters -->

    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_60_35">
        <div class="col-lg-12">
            <div class="row no-gutters custom-search-input-2 inner">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="What are you looking for...">
                        <i class="icon_search"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Where">
                        <i class="icon_pin_alt"></i>
                    </div>
                </div>
                <div class="col-lg-3">
                    <select class="wide">
                        <option>All Categories</option>	
                        <option>House</option>
                        <option>Unique Stay</option>
                        <option>Flat</option>
                        <option>Hotel</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <input type="submit" class="btn_search" value="Search">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /custom-search-input-2 -->

        <div class="isotope-wrapper">
            <div class="row">
                <%unique.forEach(e=>{%>
                    <%e.propertyId.forEach(c=>{%>
                       <div class="col-xl-4 col-lg-6 col-md-6 isotope-item popular">
                           <div class="box_grid" id="box_grid">
                               <figure>
                                
                                   <a href="details/<%=c._id%>"><img src="img/<%=c.image[0]%>" class="img-fluid" alt="" width="800" height="533">
                                       <div class="read_more"><span>Read more</span></div>
                                   </a>
                                   <small><%=c.title%></small>
                               </figure>
                               <div class="wrapper">
                                   <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
                                   <h3><a href="details/<%=c._id%>"><%=c.title%></a></h3>
                                   <p><%=c.description%></p>
                                   <span class="price">From <strong><%=c.price%></strong> /per person</span>
                               </div>
                               <ul>
                                  
                                       <div class="score"><strong><%=c.rate%></strong></div>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <%})%>
               <%})%>
            </div>
            <!-- /row -->
        </div>
        <!-- /isotope-wrapper -->

        <nav aria-label="...">
            <ul class="pagination pagination-sm add_bottom_30">
                <% if (totalPage > 0) { %>
                    <ul class="pagination text-center">
                        <% if (page == 1) { %>
                            <li class="page-item disabled ">
                                <a class="page-link" href="" tabindex="-1">First</a>
                                </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link"  href="Unique/1" tabindex="-1">First</a>
                                </li>
                        <% } %>
                        <% var i = (Number(page) > 5 ? Number(page) - 4 : 1) %>
                        <% if (i !== 1) { %>
                            <li class="page-item disabled ">
                                <a>...</a>
                                </li>
                        <% } %>
                        <% for (; i <= (Number(page) + 4) && i <= totalPage; i++) { %>
                            <% if (i == page) { %>
                                <li class="page-item active">
                                    <a class="page-link" href="Unique/<%=i%>">
                                        <%=i%>
                                    </a>
                                </li>
                            <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="Unique/<%=i%>">
                                        <%=i%>
                                    </a>
                                </li>
                            <% } %>
                            <% if (i == Number(page) + 4 && i < totalPage) { %>
                                <li class="page-item disabled">
                                    <a>...</a>
                                    </li>
                            <% } %>
                        <% } %>
                        <% if (page == totalPage) { %>
                            <li class="page-item disabled">
                                <a class="page-link"  href="" tabindex="-1">last</a>
                                </li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link"  href="Unique/<%=totalPage%>" tabindex="-1">last</a>
                                </li>
                        <% } %>
                    </ul>
                <% } %>
                   
            </ul>
        </nav>

    </div>
    <!-- /container -->
</main>