<main>
    <section class="hero_in hotels_detail">
        <div class="wrapper">
            <%data.forEach(e =>{ %>
                <div class="container">
                    <h1 class="fadeInUp"><span></span>
                        <%=e.title%>
                    </h1>
                </div>
                <span class="magnific-gallery">
                <% })%>
                <%img.forEach(a =>{ %>
                    <a href="img/<%=a%>" class="btn_photos" title="Photo title" data-effect="mfp-zoom-in">View photos</a>
               <% })%>
          

        </span>
        </div>
    </section>
    <!--/hero_in-->

    <div class="bg_color_1">
        <nav class="secondary_nav sticky_horizontal">
            <div class="container">
                <ul class="clearfix">
                    <li><a href="#description" class="active">Description</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#sidebar">Booking</a></li>
                </ul>
            </div>
        </nav>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-8">
                    <section id="description">
                        <h2>Description</h2>
                        <%data.forEach(e => { %>
                            <p>
                                <%=e.description%>
                            </p>
                            <%})%>

                                <hr>
                                <h3>Location</h3>
                                <div id="map" class="map map_single add_bottom_30"></div>
                                <!-- End Map -->
                    </section>
                    <!-- /section -->

                    <section id="reviews">
                        <h2>Reviews</h2>
                        <div class="reviews-container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <%data.forEach(e=>{%>
                                        <div id="review_summary">
                                            <strong>  <%=e.rate%></strong>
                                        </div>
                                        <%})%>

                                </div>
                                <div class="col-lg-9">
                                    <%-rate%>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>

                        <hr>

                        <div class="reviews-container">
                            <%-str%>
                        </div>
                        <!-- /review-container -->
                    </section>
                    <!-- /section -->
                    <hr>

                    <div class="add-review">
                        <h5>Leave a Review</h5>
                        <form action="" method="POST" id="review_form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Rating </label>
                                    <div class="custom-select-form">
                                        <select name="rating_review" id="rating_review" class="wide">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                       
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Your Review</label>
                                    <textarea name="review_text" id="review_text" class="form-control" style="height:130px;"></textarea>
                                </div>
                                <div class="form-group col-md-12 add_top_20">
                                    <input type="submit" value="Submit" class="btn_1" id="submit-review">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /col -->

                <aside class="col-lg-4" id="sidebar">
                    <div class="box_detail booking">
                        <div class="price">
                            <%data.forEach(e => { %>
                                <span><%=e.price%><small>person</small></span>
                                <div class="score"><span>Good<em>350 Reviews</em></span><strong>7.0</strong></div>
                                <%})%>

                        </div>

                        <div class="form-group input-dates">
                            <input class="form-control" type="text" name="dates" placeholder="When..">
                            <i class="icon_calendar"></i>
                        </div>

                        <div class="panel-dropdown">
                            <a href="#">Guests <span class="qtyTotal">1</span></a>
                            <div class="panel-dropdown-content right">
                                <div class="qtyButtons">
                                    <label>Adults</label>
                                    <input type="text" name="qtyInput" value="1">
                                </div>
                                <div class="qtyButtons">
                                    <label>Childrens</label>
                                    <input type="text" name="qtyInput" value="0">
                                </div>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <div class="custom-select-form">
                                <select class="wide">
                                <option>Room Type</option>	
                                <option>Single Room</option>
                                <option>Double Room</option>
                                <option>Suite Room</option>
                            </select>
                            </div>
                        </div>
                        <a href="cart-1.html" class=" add_top_30 btn_1 full-width purchase">Purchase</a>
                        <%if(liked_id == user_id && user !== null ){%>
                            <button type="button" id="remove" class="btn_1 full-width outline wishlist"><i class="icon_trash"></i> Remove from wishlist</button>
                            <%}%>
                                <%if(user === null || liked_id !== user_id || user_id == 0){%>
                                    <button type="button" id="wishlist" class="btn_1 full-width outline wishlist"><i class="icon_heart"></i> Add to wishlist</button>
                                    <%}%>
                                        <div class="text-center"><small>No money charged in this step</small></div>
                    </div>
                    <ul class="share-buttons">
                        <li><a class="fb-share" href="#0"><i class="social_facebook"></i> Share</a></li>
                        <li><a class="twitter-share" href="#0"><i class="social_twitter"></i> Tweet</a></li>
                        <li><a class="gplus-share" href="#0"><i class="social_googleplus"></i> Share</a></li>
                    </ul>
                </aside>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
</main>